.list-container {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px;
  margin: 5px;
  padding: 3px;

}

.task-text {
  margin-left: 10px;

}

.task-text p {
  margin: 0;
}