.con {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 400px;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todohead {
  margin: 40px;
}